% -*- mode: erlang -*-
{deps, [
        {getopt, ".*", 
         {git, "https://github.com/roowe/getopt",
          {branch, "master"}}},
        {emysql, ".*",
         {git, "gitMobile@192.168.1.149:/Emysql.git"}}]}.
{eunit_compile_opts,[{src_dirs,[]}]}.
{eunit_opts,[verbose,{report,{eunit_surefire,[{dir,"."}]}}]}.
{erl_opts,[{d,'COLOR_LOG',true}, bin_opt_info,debug_info,fail_on_warning]}.
%{erl_opts, [no_debug_info]}.
{cover_enabled, true}.
